<h1>This is a backend API for our Draw Together App</h1>
<h2>So grab a brush and head over to <a href="https://dt-react.herokuapp.com/rooms">dt-react</a> and start painting!</h2>

<canvas id="myCanvas" width="700" height="400" style="border:1px solid #000000;">
</canvas>
