<%= form_for @artwork, :url => api_v1_artworks_path do |f|%>
  <p>
    <strong>Create a New Artwork</strong>
  </p><p>
  <%= f.label "image text blob: " %> <br>
  <%= f.text_area :state %> <br>
  </p>
  <%= f.submit "Create" %>

<% end %>
